#main-nav .social {
    display: none;
}

#main-nav .container {
   grid-template-columns: 1fr;
   gap: 1.2rem;
}

#main-nav ul, #main-nav .logo {
    justify-self: center;
}

#main-nav ul li a {
    padding: 0.5rem;
}

#articles .articles-container {
    grid-template-columns: repeat(2,1);
}

#articles .articles-cobtainer>*:first-child,
#articles .articles-container>*:last-child
{
    grid-template-columns: 1fr;
    grid-column: 1;
}


@media (max-width:600px) {
    #hero .hero-container, #articles .articles-container, #main-footer .footer-container {
        grid-template-columns: 1fr;
    }

    #main-footer .footer-conatiner>*:last-child {
        grid-column: 1;
    }

    #main-footer .footer-container>*:first-child,
    #main-footer .footer-container>*:nth-child(2) {
        border-bottom: #444 dotted 2px;
        padding-bottom: 1rem;
    }

    .page-container {
        grid-template-columns: 1fr;
    }

    .page-container>*:first-child {
        grid-row: 1;
    }

    .large-heading {
        font-size: 2rem;
    }
}